
//SIZES

$full-size: 100%;
$half-size: 50%;
$page_marge_limit: 30px;
$page_marge_limit-wide: 40px;

$logo-size: 40%;

/// SKILLS

// tools
$tool-height: 40px;

//langues
$lg-padding: 15px;

$lg-percnt-text-width: 57px;

$circle-size-small: 72px;
$circle-inset-size-small: 54px;


$circle-size-wide: 120px; //(4/4)
$circle-inset-size-wide: 90px; //(3/4)
                

/// PROJECTS

$proj-list-h: 100px;
$proj-list-w: 500px;


/// MEDIAQUERIES

$mobile-wide: 520px;
$tablette-wide: 769px;
$screen-small: 930px;
$screen-medium: 1024px;
